<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Canvas</title>
    <link type="text/css" rel="stylesheet" href="css/player.css">
</head>
<body>
    <div class="canvas">
        <div class="canvas-item">
            <h1>绘制矩形</h1>
            <div>
                <canvas id="canvasShape"></canvas>
            </div>
        </div>
        <div class="canvas-item">
            <h1>绘制路径</h1>
            <div>
                <canvas id="canvasLine"></canvas>
            </div>
        </div>
        <div class="canvas-item">
            <h1>绘制圆形</h1>
            <div>
                <canvas id="canvasArc"></canvas>
            </div>
        </div>
        <div class="canvas-item">
            <h1>绘制文本</h1>
            <div>
                <canvas id="canvasText"></canvas>
            </div>
        </div>
        <div class="canvas-item">
            <h1>绘制图像</h1>
            <div>
                <canvas id="canvasImg"></canvas>
            </div>
        </div>
        <div class="canvas-item">
            <h1>渐变</h1>
            <div>
                <canvas id="canvasGradient"></canvas>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/canvas.js"></script>
</body>
</html>