<!DOCTYPE html>
<html>
    <head>
        <base href="/" target="_self">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>音乐播放器</title>
        <!-- h5兼容解决方案 -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link type="text/css" rel="stylesheet" href="css/player.css">
        <script type="text/javascript" src="js/player.js"></script>
    </head>
    <body>
        <div id="player">
            <header class="header">
                <h1 class="player-name">成林-音悦台(<abbr title="YinYueTai">YYT</abbr>)</h1>
                <nav class="nav">
                    <a href="#">音乐</a>
                    <a href="#">朋友</a>
                    <a href="#">MV</a>
                </nav>
            </header>
            <main class="main">
                <section class="banner"></section>
                <section class="list">
                    <div class="music-list">
                        <ul>
                            <li>
                                <span><img src="" alt="music-icon"></span>
                                <span>
                                    <strong>小情歌</strong>
                                    <small>词/曲，作者：吴青峰</small>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="friends-list">
                        <ul>
                            <li>
                                <span><img src="" alt="user-icon"></span>
                                <span>
                                    <strong>杭琪</strong>
                                    <small>微信名：Forever</small>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="mv-list">
                        <ul>
                            <li>
                                <p><img src="" alt="mv-img"></p>
                                <p class="mv-description">无间道，刘德华/梁朝伟两大影帝飙戏</p>
                            </li>
                        </ul>
                    </div>
                </section>
            </main>
            <footer></footer>
        </div>
    </body>
</html>